:root {
    --color1: #845EC2;
    --color2: #D65DB1;
    --color3: #FF6F91;
    --color4: #FF9671;
    --color5: #FFC75F;
    --color6: #F9F871;
    user-select: none;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('minionpro-regular.ttf');
}

body {
    background-image: linear-gradient(to right bottom, #2d2d2d, #28253c, #211b4b, #161058, #000064);
    background: auto no-repeat;
    font-family: 'Minion Pro', serif;
    min-height: 100vh;
}

    
.statsContainer {
    display: flex;
    background-color: rgb(80, 19, 19);
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0.5rem var(--color3);
    margin: 2rem auto;
    padding: 2rem;
}
    
.statsContainer h1{
    font-size: 350%;
    color: var(--color3);
    text-shadow: 0.125rem 0.125rem 0.5rem var(--color2);
}

.statsContainer p {
    font-size: 150%;
    color: var(--color4);
    text-shadow: 0.125rem 0.125rem 0.5rem var(--color5);
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.special_buttons, .upgrade_buttons {
    margin: 4rem auto;
}
    
#clickButton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8rem;
}
    
.upgrade_buttons button, .special_buttons button {
    border-radius: 0.375rem;
    height: 6rem;
    width: 8rem;
    margin: 0.5rem;
}
    
.upgrade_buttons button:hover {
    background-color: rgb(29, 118, 252);
    color: white;
    box-shadow: 0 0 0.5rem darkgrey;
}


    
.special_buttons button:hover {
    background-color: rgb(158, 135, 4);
    color: white;
    border: solid transparent;
    border-image: linear-gradient(135deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%) 10%; 
}

#clickTextAnimation {
    position: absolute;
    display: none;
    color: var(--color3);
    font-size: 200%;
    padding: 5px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}